.conclusion p {
  text-align: justify;
}

.conclusion .title {
  text-align: center;
}

.PopularQuest .title {
  font-style: italic;
}

.questionWithAnswer {
  position: relative;
}

.questionWithAnswer summary,
.questionWithAnswer div {
  padding: 5px;
}

.questionWithAnswer summary {
  position: relative;
  width: 500px;
  background-color: gray;
  border: 0.1px solid lightgray;
}

.questionWithAnswer div {
  position: absolute;
  left: 520px;
  right: 0;
  top: 0;
}

.questionWithAnswer summary::-webkit-details-marker {
}

.questionWithAnswer div{
  border-radius: 5px;
}

.questionWithAnswer div {
  background-color: #35b34f;
}

.questionWithAnswerContainer {
}
