.Resume {
  margin-bottom: 20px;
}

.conclusion p {
  text-align: justify;
}

.conclusion .title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.PopularQuest .title {
  font-style: italic;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.questionWithAnswer {
  position: relative;
}

.questionWithAnswer summary,
.questionWithAnswer div {
  padding: 5px;
}

.questionWithAnswer summary {
  position: relative;
  width: 500px;
  padding-right: 20px;
  cursor: pointer;
  background-color: var(--main-color-2);
  border: 0.1px solid lightgray;
  color: white;
}

.questionWithAnswer[open] summary {
  background-color: var(--background-color);
}

.questionWithAnswer[open] summary:focus {
  outline: none;
}

.questionWithAnswer div {
  position: absolute;
  left: 520px;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  min-height: 100%;
}
/* clear marker except Mozilla */
.questionWithAnswer summary::-webkit-details-marker {
  display: none;
}
/* Mozilla clear marker */
.questionWithAnswer summary{
  list-style: none;
}

.questionWithAnswer summary::after {
  position: absolute;
  content: ">";
  right: 5px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.questionWithAnswer[open] summary::after {
  transform: scale(1.1);
  font-weight: bolder;
}

.questionWithAnswer div{
  border-radius: 5px;
}

.questionWithAnswer div {
  background-color: #35b34f;
  color: white;
}

.questionWithAnswerContainer {
}
