.container {
  display: flex;
  justify-content: center;
}

.NavTile div{
  font-size: 0.8rem;
}

.NavTile a > div {
  width: 100px;
  height: 100px;
}

.NavTile a > div{
  border-right: 0px;
  border-radius: 0;
}

.container .NavTile:last-child a > div{
  border-right: none;
}


.title {
  text-align: center;
}
