#Sidetile{
  height: 70px;
  margin-top: 0px;
  margin-left: 15px;
  margin-top: -5px;
}
.sidelink{
  position: relative;
  font-size: 18px;
  margin-top: 5px;
  height: 60px;
  text-decoration: none;
  color: black;
  padding-left: 20%;
  background-color: white;
  text-align: left;
  border: none;
}
.sidelink:focus{
  outline: none;
}
.sidelink:hover{
  background-color: #ffe6f9;
}
