 .Tile{
  border-top: none;
  border-radius: 5px;
  padding: 0px;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}


.Tile:hover .proftitle,
.Tile:hover .profdesc{
  background-color: var(--background-color)
}

/* .Tile:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
} */

.Tile:hover .profimg img {
  transform: scale(1.15);
  transition: transform 0.5s;
}

.proftitle {
  margin: 0px;
  height: 70px;
  font-size: 1.1rem;
  color: white;
  background-color: var(--main-color-2);
}
.profimg {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .profimg {
    height: 200px;
  }
}

.profimg img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 transition: transform 0.5s;
 backface-visibility: hidden;
}

.profdesc {
  background-color: var(--main-color-2);
  color: white;
  flex: 1;
}

.profdesc,
.proftitle {
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
