:root{
  --imgHeight:  260px;
}
.title{
  margin-top: 10px;
  text-align: center;
  font-weight: medium;
  font-size: 1.5rem;
}
.image{
  display: block;
  margin: 0 auto;
  height: var(--imgHeight, 300px);
}
.description{
}
.imageWrapper{
  height: var(--imgHeight, 300px);
}
