:root{
  --main-color: #2aabe4;
  --contrasting-color: #ffcd24;
  --main-helper-color: #9dc8e4;
  --neutral-color: #666bge;
  --main-color-2: #33393d;
  --old-color: #F4A8E8;
  --custom-green: #46c35f;
}
*{
  box-sizing: border-box;
  padding: 0;
}

/*a {
  color: white;
}

a:hover{
  color: #FADAF5;
}
*/
.horizontal-flex{
  display: flex;
  justify-content: space-around;
}
