:root{
  --main-color: #2aabe4;
  --main-color-3: #165c8d;
  --contrasting-color: #ffcd24;
  --main-helper-color: #9dc8e4;
  --neutral-color: #666bge;
  --footer-color: #1d6ddb;
  --main-color-2: #33393d;
  --old-color: #F4A8E8;
  --custom-green: #46c35f;
  --link-color: #f2f2f2;
}
*{
  padding: 0px;
  box-sizing: border-box;
}
p{
  text-indent: 2em;
}
.horizontal-flex{
  display: flex;
  justify-content: space-around;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-flex-center {
  display: flex;
  justify-content: center;
}
