.Tile{
  border-top: none;
  border-radius: 5px;
  padding: 0px;
  height: 100%;
  width: 400px;
  margin: 0px;
}
.Tile:hover .proftitle,
.Tile:hover .profdesc{
  background-color: var(--background-color)
}
.proftitle {
  margin: 0px;
  height: 70px;
  font-size: 1.1rem;
  color: white;
  background-color: var(--main-color-2);
}
.profimg{
  height: 300px;
}
.profimg img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.profdesc {
  background-color: var(--main-color-2);
  color: white;
  height: 100px;
  padding: 10px;
}

.profdesc,
.proftitle {
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
