.linksWrapper{
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: var(--main-color);;
  border-radius:20px;
  padding: 8px;
  opacity: 0;
  animation: bubble 1s 1 ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.linksWrapper:after{
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent transparent;
  transform: rotate(180deg);
}
.linkChild{
  font-size: 0.8em;
  text-decoration: none;
  margin: 5px 0px 5px 0px;
  color: white;
}
.li{
  margin-left: 15px;
  list-style-type: " - ";
  font-size: 1em;
  font-weight: 300;
}
.main_li{
  list-style-type: disc;
  margin-left: 25px;
  font-size: 1em;
  font-weight: 300;
}
.main_category{
  font-size: 1.2em;
  font-weight: 700;
  list-style-type: none;
}
.ul{
  height: 80%;
}
@keyframes  bubble {
from {
  opacity: 0;
}
to{
  opacity: 1;
}
}
