.linksAndContent{
  display:flex;
}
.linksWrapper{
  display: flex;
}
.linkChild{
  font-size: 0.8em;
  text-decoration: none;
  background-color: #35b34f;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  padding: 2px;
  animation: bubble 1s 1 ease-in-out;
}
.li{
  margin-left: 15px;
  list-style-type: " - ";
  font-size: 1em;
  font-weight: 300;
}
.main_li{
  list-style-type: disc;
  margin-left: 0px;
  font-size: 1em;
  font-weight: 300;
}
.main_category{
  font-size: 1.2em;
  font-weight: 700;
  list-style-type: none;
}
.ul{
  height: 80%;
}
@keyframes  bubble {
from {
  opacity: 0.15;
}
25%{
  opacity: 0.35;
}
50%{
  opacity: 0.6;
}
75%{
  opacity: 0.85;
}
to{
  opacity: 1;
}
}
