.title {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 920px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.container ul {
  list-style: none;
}

.container ul.pros li:before {
  content: "+";
  padding: 5px;
}

.container ul.cons li:before {
  content: "-";
  padding: 5px;
}
